<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update material</title>
</head>
<body>
    <div style="width: 50%; margin: 0 auto; border: 1px solid black; padding: 20px; box-shadow: 2px 2px 10px rgba(0,0,0,0.1);">
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Update material</h1>
            <a href=""><button style="background: none; border: none; font-size: 20px; cursor: pointer;">x</button></a>
        </header>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="title">Title *</label>
                <br>
                <input type="text" id="title" name="title" maxlength="250" value="{{ material_to_edit.title }}" size="50" required>
                <br>
                <small>Maximum 250 characters allowed</small>
            </div>
            <br>
            <div>
                <label for="status">Status</label>
                <br>
                Active
                {% if material_to_edit.status == 1 %}
                <input type="radio" id="active" name="status" value=1  required checked>
                {% else %}
                <input type="radio" id="active" name="status" value=1  required>
                {% endif %}

                Inactive
                {% if material_to_edit.status == 0 %}
                <input type="radio" id="inactive" name="status" value=0 required checked>
                {% else %}
                <input type="radio" id="inactive" name="status" value=0 required>
                {% endif %}
            </div>
            <br>
            <button type="submit">Update material</button>
        </form>
    </div>
</body>
</html>


